.horizontal_flex_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page{
    padding-right: 5px;
    padding-left: 5px;
}

.page:hover{
    cursor: pointer;
    
}

.current-page {
    font-weight: bold;
    background: white;
}