
<div *ngIf="details" > 
    <div >
        <div class="header_container">  
            <span class="badge">{{details.id}}</span> <span >{{name | uppercase}}</span>
        </div>
        <div class="horizontal_flex_cont "> 
            <div class="image_container" > <img [src]="details.sprites.front_default" > </div>

            <div class="vertical_flex_cont testborder">
                <div *ngFor="let stat of details.stats" >
                    <span>{{stat.stat.name}}</span> <span>{{stat.base_stat}}</span>
                </div>
            </div>
        </div>
        
        <div class="header_container"><span>Moves</span></div>
       
        <div *ngFor="let move of details.moves" class="testborder">
            <span>{{move.move.name}}</span>
        </div>
    </div>    
 
</div>
