 
<div *ngIf="details" class="whole_container"> 
<div class="width_limiter"> 
    <div >
        <div class="header_container">  
            <span class="badge">{{details.id}}</span> <span>{{name | uppercase}}</span>
        </div>

        <div class="horizontal_flex_cont " > 
            <div *ngIf="imgSrc; else nullImage" class="image_container" > 
                <img [src]="imgSrc" > 
            </div>
            <ng-template #nullImage class="image_container" > 
                <img src="assets/pokeball.png"> 
            </ng-template>

            <div class="vertical_flex_cont ">

                    <div class="groupMargin">
                            <span *ngFor="let type of types" 
                                    class="typeBase {{type.type.name}}">
                               {{type.type.name}}
                            </span>
                    </div>

                <div *ngFor="let stat of details.stats" >
                    <div class="statName">{{stat.stat.name}}</div> 
                    <div class="statValue">{{stat.base_stat}}</div >
                </div>
            </div>
        </div>

        <div class="header_container"><span>Profile</span></div>
        <div class="vertical_flex_cont blockMargin ">
                <div >
                    <p>{{description}}</p>
                </div>     
                <div class="horizontal_flex_cont "> 
                        <div>
                                <div class="statName">Height</div> 
                                <div class="statValue">{{details.height}}cm</div >
                        </div>
                        <div>
                                <div class="statName">Weight</div> 
                                <div class="statValue">{{details.weight}}g</div >
                        </div>
                </div>
        </div>

        <div class="header_container"><span>Evolution</span></div>
        <app-pokemon-evo-display [inputEvolvesFrom]=pokemonEvolvesFrom [inputEvolvesTo]=pokemonsEvolvesTo *ngIf="pokemonEvolvesFrom && pokemonsEvolvesTo"></app-pokemon-evo-display>
        <!-- <div class="moves">
                <span>{{pokemonEvolvesFrom}}</span>
        </div>
        <div *ngFor="let evolvesTo of pokemonsEvolvesTo" class="moves">
                <span>{{evolvesTo}}</span>
        </div> -->
        
        <div class="header_container"><span>Moves</span></div>
        <div class="vertical_flex_cont ">
            <div *ngFor="let move of details.moves" class="moves">
                <span>{{move.move.name}}</span>
            </div>
        </div>
    </div>    
</div>
</div>
