.testborder {
    border-width: 2px;
    border: solid;
} 

.whole_container{
    /* width: 500px; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center
}

.width_limiter{
    width: 600px;
}
 
.header_container {
    display: inline-block;
    background-color: #7d9099;
    width: 100%;
    border-radius: 10px;
    font-size: 25px;
    margin: 10px;
}

.badge {
    display: inline-block;
    background-color: rgb(114, 113, 113);
    /* position: relative; */
    /* margin-inline-end: 8px; */
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Fredericka the Great', cursive;
    color: white;
    
}



span {
    display: inline;
    text-transform: capitalize;
    padding: 7px;
    font-size: 20px;
    font-family: 'Rancho', cursive;
    /* font-style: italic; */
    /* font-weight: bolder; */
}





.image_container {
    width: 150px;
    /* background: #5d6163; */
    /* border-style: solid; */
    /* border-width: 1px; */
    margin-right: 50px;
}

img {
    /* width: 100%; */
    width: 150px;
    height: auto;
}

.horizontal_flex_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}

.vertical_flex_cont {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;

    
}

.statName {
    display: inline-block;
    width: 150px;
    text-transform: capitalize;
    /* border-style: solid;
    border-width: 1px; */
}

.statValue {
    display: inline-block;
    width: 50px;
    text-transform: capitalize;
    /* border-style: solid;
    border-width: 1px; */
}

 .groupMargin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.blockMargin{
    margin-left:50px;
}

.moves {
    margin-left: 50px;
}

.typeBase {
    background-color: #EBBB78;
    margin-left: 3px;
    margin-right: 3px;
    /* padding-left: 3px;
    padding-right: 3px; */
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.grass {
    background-color: green;
}

.water {
    background-color:#616EFF;
}

.fire {
    background-color: red;
}

.poison {
    background-color: violet;
}

.electric {
    background-color: yellow;
}

.dark {
    background-color: #5A5979;
    /* color: white; */
    /* background-color: black; */
}

.flying {
    background-color: #93B2C7;
}

.ice {
    background-color: #D9EFF8;
}

.fairy{
    background-color: #EA1369;
}

.ghost {
    background-color: #906790;
}