<div  class="flex-container" routerLink="/pokemon/{{name}}" *ngIf="id">
  
  <div class="badge-picture" *ngIf="imgSrc; else nullImage" > <img [src]="imgSrc" > </div>
  <ng-template #nullImage class="badge-picture" > 
      <img src="assets/pokeball.png"> 
  </ng-template>
  
  <div class="badge-details-container">
    <div >  
      <!-- <span > {{id}} </span>  -->
      <span class="name">{{name}} </span>  
    </div>
    <div>
      <span *ngFor="let type of types" 
            class=" typeBase {{type.name}}">
         {{type.name}} 
      </span>
    </div>
  </div>
  

</div>
