.flex-container {
    display: flex;
    /* width: 250px; */
  }

.borderTest {
    border-style: solid;
    border-width: 1px;
}

.badge-picture {
    border-style: solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(122, 122, 122);
    height: 96px;
    width: 96px;
}

.badge-details-container{
    display: flex;
    flex-direction: column;
}

.name {
    text-transform: capitalize;
    font-family: 'Rancho', cursive;
     /* font-family: 'Audiowide', cursive; */
     font-size: 175%;
}

img {
    width: 98px;
    height: 98px;
}

.typeBase {
    background-color: #EBBB78;
    margin-left: 3px;
    margin-right: 3px;
    /* padding-left: 3px;
    padding-right: 3px; */
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-transform: capitalize;
    font-family: 'Rancho', cursive;
    font-size: 18px;
}

.grass {
    background-color: green;
}

.water {
    background-color:#616EFF;
}

.fire {
    background-color: red;
}

.poison {
    background-color: violet;
}

.electric {
    background-color: yellow;
}

.dark {
    background-color: #5A5979;
    /* color: white; */
    /* background-color: black; */
}

.flying {
    background-color: #93B2C7;
}

.ice {
    background-color: #D9EFF8;
}

.fairy{
    background-color: #EA1369;
}

.ghost {
    background-color: #906790;
}



