<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rancho&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fresca&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

<div style="text-align:center">
  <!-- <h1>
    POKEMONS!!!!!!
  </h1> -->
<img src="assets/pokemon-logo.png"  class="logo" routerLink="/pokemon/page/1">
 </div>


 <!-- <app-pokemon-search></app-pokemon-search> -->
 <!-- <app-page-selector></app-page-selector> -->
 <router-outlet></router-outlet>
 <!-- <app-pokemon></app-pokemon> -->
 <!-- <app-pokemon-profile></app-pokemon-profile> -->

